@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
  font-family: 'Poppins'
}
.logo{
  font-family: 'Poppins';
  color: #d56;
  text-decoration: none;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.lg{
  text-align: center;
  padding-top: 250px;
}
.open {
  background-color: white;
  border: 2px solid black;
  color: green;
  padding: 5px 10px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  margin: 10px 30px;
  cursor: pointer;
}
