@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body{
  font-family: 'Poppins'
}
.logo{
  font-family: 'Poppins';
  color: #d56;
  text-decoration: none;
  font-size: 45px;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.lg{
  text-align: center;
  padding-top: 250px;
}
p{
  text-align: center;
}
